<style>
    .footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }
    .logo {
        width: 85px;
        padding: 10px;
    }
    .login-item {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .input_item {
        padding-left: 10px !important; 
        height: 50px !important;
        border: solid 2px grey !important;
        border-radius: 5px;
    }
    .remember {
        margin-bottom: 20px;
    }
	.remember label {
		border: none;
		padding-left:45px;
	}
    .button.button-positive {
        border-color: #0c63ee;
        background-color: #387ef5;
        color: #fff;
    }
	.item-checkbox .checkbox {
		left: 0px !important;
	}
    .login-form {
        clear: both;
        padding: 0px 40px 40px 40px;
    }
    .underline {
        text-decoration: underline;
    }
    .tabs {
        left: 0px;
        background-color: white !important;
        border-top: solid 1px black !important;
    }
    .tab-title {
        color : black;
        font-weight: bold;
    }
    .connecting {
        float: left;
        background: #C1C1C1;
        padding: 6px;
        border-radius: 10px;
    }
</style>
<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">      
      <h1 class="title">iPon</h1>
      <div class="buttons">
        <button class="button">
            <img style="width:25px;padding-top: 3px;" class="setting_icon" src="img/setting.png" alt="setting" />
        </button>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div>
            <p class="connecting" ng-click="scanBLE()">Connet</p>
            <img style="float:right; width: 50px;" src="img/charge.png" alt="charge" />
        </div>
        <form ng-submit="doLogin()" class="login-form">
            <div  class="center">
                <img src="img/waiting.png" alt="waiting" />
            </div>
            <div class="waiting-text-big">
                Waiting for connection
            </div>
            <div class="waiting-text-small">
                Please make sure your Charm and Sensor are connected
            </div>
        </form>
    </ion-content>
    <ion-footer-bar align-title="left" class="custom-footer bar-assertive">
      <ion-tabs class="tabs-positive">

        <ion-tab title="" icon="ion-ios7-bell" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios7-calendar" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios7-cart" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-help-circled" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
</ion-view>
