<style>
	.logoDiv {
        background: #F5F4F4;
    }
	.logo {
        /*height: 170px;*/
        width: 85%;
        padding: 10px;
    }
</style>
<ion-view view-title="Welcome">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
     </ion-nav-buttons>
    <ion-content padding class="getting-started" has-header="true" style="padding: 10px;">
		<div class="logoDiv text-center">
           <img class="logo" src="img/logo.png" alt="logo" />
        </div>
        <h3 style="text-align: center;">Welcome to iPonDemo for Recruitment Agencies</h3>
        <p>
            This mobile app allows you to quickly find your clients and candidates and call them, text them or meet them using the advanced capabilities of your smart phone.
        </p>
        <p>
            Use the menu top left to access the lookup functions.
        </p>
		<p>
			<b>Version 2015.11.03</b>
		</p>
    </ion-content>
</ion-view>